/* CSS styles for the Extra Comment Fields admin pages */

img.ecf-image {
	max-width: 400px;
	max-height: 600px
}

.default_placeholder {
	padding-left: 0.3em;
	padding-right: 0.3em;
	border: 1px solid black;
	border-radius: 3px;
	font-weight: bold;
	background-color: hsl(0,0%,80%);
}

.unavailable {
	margin-top: 0.5em;
	padding-left: 0.4em;
	padding-right: 0.4em;
	width: 100%;
	border-radius: 4px;
	border: 1px solid hsl(210, 0%, 40%);
	background-color: hsl(210, 0%, 80%); 
}

.unavailable.ecf-edition-bronze {
	border-color: #663d14;
	background-color: #cd7f32;
}

.unavailable.ecf-edition-silver {
	border-color: #737373;
	background-color: silver;
}

.unavailable.ecf-edition-gold {
	border-color: #664f14;
	background-color: #cba135;
}

.unavailable.ecf-edition-platinum {
	border-color: #999897;
	background-color: #e5e4e2;
}

.unavailable .edition {
	font-weight: bold;
}

input[type="text"][disabled] {
	background-color: hsl(0, 0%, 82%);
}

tr.editing {
	background-color: rgba(55,55,55,0.2);
}

table.widefat strong {
	color: #4a4a4a;
}

.ecf-admin-header {
	padding: 0.7em 1em !important;
}

.ecf-admin-header div {
	clear: none;
	line-height: 1.9em;
	width: 25em;
	display: inline-block;
}

.ecf-admin-header .property-label {
	font-size: 10.2pt;
	color: hsl(55, 5%, 50%);
	font-style: italic;
	/*font-weight: bold;*/
	margin-right: 0.7em;
}

.ecf-admin-header a {
	margin-right: 0.7em;
}

.ecf-admin-header .links {
	width: 100%;
}



.ecf-admin-header div.warning {
    clear: none;
    color: #FF0000;
    display: inline-block;
    font-weight: bold;
    line-height: 1.9em;
    margin: 0 15px 15px 0;
    width: 100%;
}
